<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title1">斜杠</h1>
       <h1 class="title2">全棧</h1>
       <p class="lead">
         <%= link_to 'We need U >>', jobs_path, class: 'btn btn-warning' %>
       </p>
       <p class="slogan">一個不单纯的兼职网站，不务正业的做自己想做的事儿
         <br>
         与其相谈甚欢，不如一起做事儿
         <br>
         斜杠青年，说干就干
       </p>
     </div>
   </div>
 </div>

 <!-- Grid -->
 <div class="container text-center">
  <h3>Find yourself.We need U</h3>
  <p><em>活在未来!</em></p>
  <p>We have created a fictional band website. Lorem ipsum..</p>
  <br>
  <div class="col-sm-4">
      <p><strong>Have Fun</strong></p><br>
      <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fewgq6ecu2j303k03kt8l.jpg" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <p><strong>Make Money</strong></p><br>
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1fewgza9n3vj303k03k744.jpg" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <p><strong>Serendipity</strong></p><br>
      <img src="http://ww3.sinaimg.cn/large/006tNc79gy1fewhejhzf2j303k03kdfo.jpg" alt="Random Name">
    </div>
  </div>
</div>

 <!--thumbnail -->
 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fey1z5xes9j30sg0iydib.jpg" alt="search" class = "img-thhumbnail">
           <div class="caption">
             <h3>主业(全栈)</h3>
             <p>让懂你的人找到你</p>
             <button class="btn">铁饭碗</button>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fey2bapvc2j30sf0nuq4j.jpg" alt="bid" class = "img-thhumbnail">
           <div class="caption">
             <h3>专长(斜杠)</h3>
             <p>让大牛带你一起升级</p>
             <button class="btn">银筷子</button>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fey2o9r2ssj30sg0sgtcq.jpg" alt="heart" class = "img-thhumbnail">
           <div class="caption">
             <h3>七年就是一辈子</h3>
             <button class="btn">金钥匙</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

<!-- 主题 -->
<h2>我们一起做过的事儿：</h2>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">我们是一家定制酒公司，想在私人定制的路上走的更远。我有酒，你有idea吗？</h2>
          <p class="lead">我是酒龙仓的设计师Nic，很开心能够参与到公司早期的市场调研、产品设计工作，一起见证了武汉市大德天成商贸有限公司的转型升级之路！这里的小伙伴非常优秀！欣闻你们正在布局线上实体店，期待与你们的再次合作！</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'http://ww2.sinaimg.cn/large/006tNc79gy1fewkiordtnj30kh0so77w.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">这里是国际轮滑节(宁波)组委会，与其当一名游客走马观花，不如join us与来自世界各地的轮滑爱好者一起为这座城市留下一抹印象</h2>
            <p class="lead"> <a target="_blank" href="http://blog.niclin.tw">当时我还没有毕业，来到这里做翻译和志愿者招聘工作。这绝对是我最棒的经历之一，每天下班结伴去吃地道的宁波菜、漫步在江南特色的大街小巷瞎逛，周末还得空去了奉化等周边小镇。最赞的是结交了几个要好的朋友，还顺带拿到了人生第一份工资。我爱宁波，我爱你们！东京奥运会我们再聚！</a>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'http://ww3.sinaimg.cn/large/006tNc79gy1fewv97mh38j30qo0hsq6j.jpg', class: 'img-responsive' %>
            <%= image_tag 'http://ww4.sinaimg.cn/large/006tNc79gy1fews083u5bj31hc0zkdx5.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>


    <!-- Add a carousel -->
    <h2>我们是谁：</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"专注！职业！出手不凡，在本专业内具有可交付产品的能力"<br><span style="font-style:normal;">你有的，正是我们需要的!</span></h4>
    </div>
    <div class="item">
      <h4>"持续！成长！做的不好没关系，重复做、一直做！"<br><span style="font-style:normal;">努力工作，拼命生活！</span></h4>
    </div>
    <div class="item">
      <h4>"早晚有一天，不再为了生存所需出卖自己的时间"<br><span style="font-style:normal;">活在未来！七年就是一辈子！</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
